@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
